<h1>Eventos</h1>
<button [disabled]="btnDisabled" >Enviar</button>

<!-- El Event Binding se aplica usando parentesis () justamente para invocar y ejecutar
funciones declaradas en el component.ts a travez de un evento por ejemplo : <Button (click)="funcionClick()" >Enviar</Button> -->

<button (click)="toogleButton()" >Toogle Button</button>
<p>Edad {{ persona.age }}</p>
<button (click)="incrementarEdad()" >incrementar Edad</button>

<hr>

<h1>Propiedades</h1>
<button >Enviar</button>
<!--
Los atributos de una etiqueta pueden escuchar los valores declarados en el component.ts con el metodo de binding
Que consiste en usar Corchetes [] de la siguiente forma [atributo]="nombreVariableDeclaradoEnComponentTs"
-->
<button [disabled]="btnDisabled" >Enviar</button>
<br>
<input type="text" [value]="valorInput">
<br>
<progress max="100" [value]="age"></progress>
<br>
<img [src]="img" alt="" width="100">

<hr>
Manipulando objetos
<button [disabled]="btnDisabled" >Enviar</button>
<br>
<input type="text" [value]="persona.name">
<br>
<progress max="100" [value]="persona.age"></progress>
<br>
<img [src]="persona.img" alt="" width="100">

<hr>
<!-- Usando Brackets con string interpolation-->
<h1>Hola Mundo</h1>
<!-- dentro de los brackets puede entra codigo logico de JavaScript -->
<h2>{{ 'Hola mundo'.repeat(5) }}</h2>
<p> 3 + 3 = {{3+3}} </p>

<h3>Hola, soy {{name}} y tengo {{age}} años</h3>
<img src="{{img}}" alt="">
