<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input.group">
    <label for="Nombre">Nombre</label>
    <input autofocus name="name" #name="ngModel" type="text" required [(ngModel)]="register.name" placeholder="Fulano">
    <p *ngIf="!name.valid" >Campo requerido</p>
  </div>
  <div class="input.group">
    <label for="email">Email</label>
    <input name="email" #email="ngModel" type="email"required [(ngModel)]="register.email">
    <p *ngIf="!email.valid">Mensajes de error</p>
  </div>
  <div class="input.group">
    <label for="Password">Contraseña</label>
    <input name="password" #password="ngModel" type="password"required [(ngModel)]="register.password">
    <p *ngIf="!password.valid">Mensajes de error</p>
  </div >
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>


<hr>

<!-- --------------------------------------------------------------------------------------------
 -->
 <h1>NgClass & NgStyle</h1>
<!--ngClass-->
<input type="text" required #nameInput4="ngModel" [(ngModel)]="persona.name">
<hr class="line-error" [ngClass]="{
  'valid':nameInput4.valid,
  'invalid':nameInput4.invalid,
}">
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<!--NgStyle-->
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px':box.width,
      'height.px':box.height,
      'background-color':box.background,
      'display':'block'
    }">

    </div>
  </div>
</div>

<hr>
<!-- ------------------------------------------------------------------------------------------
 -->
<h1>Class & style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="persona.name">
<p class="message-error" [class.invalid]="nameInput2.invalid" >
  El campo es requerido
</p>

<!-- El sigiente estilo es considerado como un estilo in line-->
<label >Nombre</label>
<input type="text" required #nameinput3="ngModel" [(ngModel)]="persona.name">
<p [style.font-style]="nameinput3.invalid? 'normal':'italic'" >Texto</p>

<!-- Manejando dinamicamente el valor de los estilos  -->
<div class="styles">
  <div>
    <input type="text" required [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" src="{{img}}" alt="">
  </div>
</div>


<hr>

<!-- -------------------------------------------------------------------------------------------->
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="persona.name">

<div [ngSwitch]="persona.name">
  <p *ngSwitchCase="'Nicolas'">
    La persona es Nicolas
  </p>
  <p *ngSwitchCase="'Felipe'">
    La persona es Felipe
  </p>
  <p *ngSwitchCase="'Jhon'">
    La persona es Jhon
  </p>
  <p *ngSwitchDefault>No hace match con ninguno</p>
</div>


<hr>
<!-- ------------------------------------------------------------------------------------------ -->
  <h1>ngFor Array objects</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img width="200px" [src]="product.image" alt="image">
    <h2>Precio: $ {{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>

<hr>
<!-- ------------------------------------------------------------------------------------------ -->
<h1>ngFor</h1>

<input type="text" [(ngModel)]="newName"  >
<button (click)="agregarNombre()">Agregar nombre</button>
<ul >
  <li *ngIf="nombres.length == 0">No hay nombres agrega uno</li>
  <li *ngFor=" let item of nombres ; index as i">
    {{i}}  {{item}}
    <button (click)="eliminarNombre(i)">Eliminar</button>
  </li>
</ul>
<hr>
<!-- ------------------------------------------------------------------------------------------
 --><h1>ngIF</h1>
<input type="text" [(ngModel)]="persona.name">

<!-- validacion if por true -->
<p *ngIf=" persona.name == 'Alberto'" >My content Julian</p>

<!-- validacion if con operadores logicos -->
<p *ngIf=" persona.name == 'Felipe' && persona.age==50" >My content Felipe</p>

<!-- validacion if- else usando ng-template -->
<p *ngIf=" persona.name == 'Felipe' && persona.age==50; else elseBlock" >My content Felipe</p>
<ng-template #elseBlock>
  <p>Nombre incorrecto Bloque else</p>
</ng-template>


<hr>
<!-- ------------------------------------------------------------------------------------------
 --><h1>NgModel</h1>

<!-- el data binding [(ngModel)] o tambien llamado two way data binding
consiste en que trabaja el event binding() y el property binding[] a la misma vez
esto depende de importar el paquete de FromsModule angular forms.
haciendo notar que los [] recuperan la informacion del component.TS y las () editan o le dan
un valor a la variable person.name del component.TS a travez de un evento, en esteca el evento (ngModel)
en conclusion []los corchetes escuchan y ()los parentesis envian informacion
------------------------------------------------------------------------------------------
Tambien hacer notar que para declarar un variable en una etiqueta se usa #nombreVariable
que ayuda a comunicar entre elementos o etiquetas en valor de esta variable se puede
recuperar a travez de brackets o string interpolation.
#nameInput="ngModel" esta caracteristica recupera los valores del elemento

"required" es usado para hacer notar que ese input es requerido como formulario
-->

<p>Nombre: {{persona.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="persona.name">
<p>Valid:{{nameInput.valid}}</p>

<p>Age: {{persona.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="persona.age">
<p>Valid:{{ageInput.valid}}</p>


<!-- --------------------------------------------------------------------------------------------- -->

<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisabled" >Enviar</button>
prueba git asd
<!-- El Event Binding se aplica usando parentesis () justamente para invocar y ejecutar
funciones declaradas en el component.ts a travez de un evento por ejemplo : <Button (click)="funcionClick()" >Enviar</Button> -->

<button (click)="toogleButton()" >Toogle Button</button>
<p>Edad {{ persona.age }}</p>
<button (click)="incrementarEdad()" >incrementar Edad</button>
<!-- --------------------------------------------------------------------------------------------- -->
Otros Eventos
<!-- En este caso estamos usando el evento scroll en el cual enviamos como parametro $event
dentro de la funcion onScroll el cual recupera todas las caracteristicas del elemento div -->
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quia, provident eveniet laborum perferendis deleniti quasi alias, illum nihil, iusto quae culpa? Dicta, repudiandae cumque? Quasi ratione cupiditate iusto iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad consectetur quisquam earum. Quam illum dolorem molestiae id impedit aliquam cupiditate, sapiente natus? Perspiciatis corrupti quod consequuntur quam porro a magnam.</p>
</div>

Leyendo eventos de un input
<br>
<input type="text" [value]="persona.name" (keyup)="changeName($event)">
<br>
<p>Nombre: {{persona.name}}</p>


<hr>
<!-- --------------------------------------------------------------------------------------------- -->
<h1>Propiedades</h1>
<button >Enviar</button>
<!--
Los atributos de una etiqueta pueden escuchar los valores declarados en el component.ts con el metodo de binding
Que consiste en usar Corchetes [] de la siguiente forma [atributo]="nombreVariableDeclaradoEnComponentTs"
-->
<button [disabled]="btnDisabled" >Enviar</button>
<br>
<input type="text" [value]="valorInput">
<br>
<progress max="100" [value]="age"></progress>
<br>
<img [src]="img" alt="" width="100">


<hr>
Manipulando objetos
<button [disabled]="btnDisabled" >Enviar</button>
<br>
<input type="text" [value]="persona.name">
<br>
<progress max="100" [value]="persona.age"></progress>
<br>
<img [src]="persona.img" alt="" width="100">

<hr>

#seccion
<!-- --------------------------------------------------------------------------------------------- -->
<!-- Usando Brackets con string interpolation-->
<h1>Hola Mundo</h1>
<!-- dentro de los brackets puede entra codigo logico de JavaScript -->
<h2>{{ 'Hola mundo'.repeat(5) }}</h2>
<p> 3 + 3 = {{3+3}} </p>

<h3>Hola, soy {{name}} y tengo {{age}} años</h3>
<img src="{{img}}" alt="" width="100">
